* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
    font-family: Montserrat, sans-serif;
}

body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url(../Resources/logo_2.png);
    background-size: 20%;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cabezera {
    background: radial-gradient(circle at top, #d68189, #e94e77);
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px 25px 0 0;
    -webkit-border-radius: 25px 25px 0 0;
    -moz-border-radius: 25px 25px 0 0;
    -ms-border-radius: 25px 25px 0 0;
    -o-border-radius: 25px 25px 0 0;
}

.cabezera img {
    object-fit: cover;
    height: 90%;

}

.cabezera img:hover {
    object-fit: cover;
    height: 105%;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.menu {
    background: radial-gradient(circle at bottom, #ec5880f8, #e94e77);
    width: 70%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.enlace {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.enlace img {
    object-fit: cover;
    height: 50%;

}

.enlace:hover {
    background-color: #d68189;
    height: 130%;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    -moz-transition: 0.25s;
    -ms-transition: 0.25s;
    -o-transition: 0.25s;
}

.pie {
    background: radial-gradient(circle at bottom, #d68189, #e94e77);
    width: 70%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 0 0 25px 25px;
    -webkit-border-radius: 0 0 25px 25px;
    -moz-border-radius: 0 0 25px 25px;
    -ms-border-radius: 0 0 25px 25px;
    -o-border-radius: 0 0 25px 25px;
}

hr {
    width: 50px;
    border-radius: 50px;
    height: 8px;
    border: none;
    background-color: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin: 20px 0px;
}

.pie p {
    font-size: 17px;
    padding: 3px;
}